@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 375px;
  height: auto;
  max-height: 600px; /* Adjust based on content */
  overflow-y: auto; /* Allow scrolling */
  background-color: #090B1A;
  font-family: "Manrope", sans-serif;
}

#root {
  width: 100%;
  height: auto;
  overflow-y: auto;
}

/* Ensure scrollbar is visible */
::-webkit-scrollbar {
  width: 0px; /* Hide scrollbar in Chrome/Safari */
  height: 0px;
  background: transparent;
}